# Image output directory
images/*
kali-installer-config/common/images/*
# Working directory
tmp/*
# Local mirror
.mirror
# Build Log
build.log
# Live build
chroot.files
chroot.packages.install
chroot.packages.live
live-image-*.contents
live-image-*.files
live-image-*.hybrid.iso.zsync
live-image-*.packages
# Overwritten due to build.sh
kali-installer-config/common/profiles/kali.downloads
# Miscellaneous
.lock
.stage
prepare.log
